@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #18181b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
